* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "IosevkaTerm Nerd Font";
  font-size: 10px;
  padding: 0;
}

window#waybar {
  background: #000000;
  color: #C1C1C1;
}

tooltip {
  background-color: #000000;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 2px 2px 0px 0px;
  padding: 2px 8px;
}

#tags button {
  color: #C1C1C1;
}

#tags button.occupied {
  color: #C1C1C1;
}

#tags button.focused {
  background-color: #79241F;
  color: #000000;
}

@keyframes blink {
  to {
    background-color: #000000;
    color: #000000;
  }
}

#tags button.urgent {
  background-color: #79241F;
  color: #000000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #workspaces button.active { */ /* fuck you for the pain and suffering*/
/*   background-color: #000000; */
/*   color: #C1C1C1; */
/* } */

#battery, #tray, #clock, #cpu, #pulseaudio, #memory {
  /* background-color: none; */
  color: #C1C1C1;
}
